<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row justify-content-center mb-3">
<button (click)="toggle()" class="btn btn-info mb-2">Display Details</button>
<h4 class="mx-4">Display Details Button Clicked : {{count}}</h4>
    </div>
<h5 *ngIf="showMe" class="mx-4 border border-primary w-50 h-auto p-2 bg-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet nisl suscipit adipiscing bibendum est ultricies integer. Massa id neque aliquam vestibulum. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Diam sit amet nisl suscipit adipiscing bibendum. Tortor consequat id porta nibh venenatis cras. Urna neque viverra justo nec ultrices dui.</h5>
</div>